/* contenedor das tarxetas */
        .cards {
			padding: 15px;
            margin: 0 auto;
			display: flex;
            flex-direction: row;
            flex-wrap:wrap;
            justify-content: center;
		}

		.card {
			margin: 15px;
			width:15vw;
			transition: all 0s ease-in-out;
		}


		.card:hover .card_inner {
			background-color: #959508;
			transform: scale(1.05);
			font-weight: bold;
		}

		.card_inner {
			width: 100%;
			padding: .5em;
			position: relative;
			cursor: pointer;
			background-color: #fff;
			color: #000;
			font-size: 1em;
 			text-align: center;
			transition: all 0s ease-in-out;
			-moz-box-shadow: 0px 5px 5px #666;
			/* Firefox 3.5 - 3.6 */
			-webkit-box-shadow: 0px 5px 5px #666;
			/* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
			box-shadow: 0px 5px 5px #666;
			/* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
			border-radius: .5em;
			/*Estandar*/
			-webkit-border-radius: .5em;
			/*Safari y Chrome*/
			-moz-border-radius: .5em;
			/*Firefox*/
			-o-border-radius: .5em;
			/*Opera*/
			-ms-border-radius: .5em;
			/*IE 8*/
			background: white;
		}

		.card_inner:after {
			transition: all 0s ease-in-out;
			color: #fff !important;
		}

		.card_inner .fa {
			width: 100%;
			margin-top: 0.25em;
		}

		.card_expander {
			transition: all 0s ease-in-out;
			background-color: #fff;
			width: 100%;
			padding: .5em;
			position: relative;
			display: flex;
			justify-content: center;
			align-items: center;
			font-size: 1.1em;
		}

		.card_expander .fa {
			font-size: 0.75em;
			position: absolute;
			top: 10px;
			right: 10px;
			margin: 0px 0px 1em 0px;
			cursor: pointer;
		}

		.card_expander .fa:hover {
			opacity: 0.9;
		}

		.card.is-collapsed .card_inner:after {
			content: "";
			opacity: 0;
		}

		.card.is-collapsed .card_expander {
			max-height: 0;
			min-height: 0;
			overflow: hidden;
			margin-top: 0;
			opacity: 0;
		}

		.card.is-expanded .card_inner {
			background-color: #959508;

		}

		.card.is-expanded .card_inner:after {
			content: "";
			opacity: 0.5;
			display: block;
			height: 0;
			width: 0;
			position: relative;
			bottom: -30px;
			left: auto;
			border-left: 15px solid transparent;
			border-right: 15px solid transparent;
			border-bottom: 15px solid #333a45;

		}

		.card.is-expanded .card_inner .fa:before {
			content: "X";
			font-family: serif;
			font-weight: bolder;
			color: #fff;            

		}

		.card.is-expanded .card_expander {
			max-height: 1000px;
			min-height: 200px;
			overflow: visible;
			margin-top: 30px;
			opacity: 1;
 
		}
   
		.card.is-expanded:hover .card_inner {
			transform: scale(1);
		}

		.card.is-inactive .card_inner {
			pointer-events: none;
			opacity: 0.5;

		}

		.card.is-inactive:hover .card_inner {
			background-color: #fff;
			transform: scale(1);
		}

		@media screen and (max-width: 991px) {
			.card {
				width: calc((100% / 2) - 30px);
			}
		}

		@media screen and (max-width: 767px) {
			.card {
				width: 100%;
			}
		}


		@media screen and (min-width: 992px) {
			.card:nth-of-type(3n+2) .card_expander {
				margin-left: calc(-100% - 30px);
			}

			.card:nth-of-type(3n+3) .card_expander {
				margin-left: calc(-200% - 60px);
			}

			.card:nth-of-type(3n+4) {
				clear: left;
			}

			.card_expander {
				width: calc(300% + 60px);
			}
		}

		@media screen and (min-width: 768px) and (max-width: 991px) {
			.card:nth-of-type(2n+2) .card_expander {
				margin-left: calc(-100% - 30px);
			}

			.card:nth-of-type(2n+3) {
				clear: left;
			}

			.card_expander {
				width: calc(200% + 30px);
			}
		}